HOST=https://deliveroojs.bears.disi.unitn.it/
TOKEN=

# LLM Configuration
LITELLM_BASE_URL=https://llm.bears.disi.unitn.it/v1
LITELLM_API_KEY=<your_api_key>
LOCAL_MODEL=llama-3.3-70b-lmstudio

# Planning Server
PDDL_SOLVER_URL=http://solver.planning.domains/solve
PDDL_SOLVER_KEY=<your_api_key>